@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v7qhtx');
  src:  url('fonts/icomoon.eot?v7qhtx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v7qhtx') format('truetype'),
    url('fonts/icomoon.woff?v7qhtx') format('woff'),
    url('fonts/icomoon.svg?v7qhtx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
  color: #aaa;
}
.icon-apps:before {
  content: "\e901";
  color: #aaa;
}
.icon-attention:before {
  content: "\e902";
  color: #aaa;
}
.icon-attentionfill:before {
  content: "\e903";
  color: #aaa;
}
.icon-attentionforbid:before {
  content: "\e904";
  color: #aaa;
}
.icon-attentionforbidfill:before {
  content: "\e905";
  color: #aaa;
}
.icon-back:before {
  content: "\e906";
  color: #aaa;
}
.icon-calendar:before {
  content: "\e907";
  color: #aaa;
}
.icon-camera:before {
  content: "\e908";
  color: #aaa;
}
.icon-cameraadd:before {
  content: "\e909";
  color: #aaa;
}
.icon-cameraaddfill:before {
  content: "\e90a";
  color: #aaa;
}
.icon-camerafill:before {
  content: "\e90b";
  color: #aaa;
}
.icon-card_fill:before {
  content: "\e90c";
  color: #aaa;
}
.icon-cart:before {
  content: "\e90d";
  color: #aaa;
}
.icon-cartfill:before {
  content: "\e90e";
  color: #aaa;
}
.icon-cascades:before {
  content: "\e90f";
  color: #aaa;
}
.icon-check:before {
  content: "\e910";
  color: #aaa;
}
.icon-close:before {
  content: "\e911";
  color: #aaa;
}
.icon-comment:before {
  content: "\e912";
  color: #aaa;
}
.icon-commentfill:before {
  content: "\e913";
  color: #aaa;
}
.icon-community:before {
  content: "\e914";
  color: #aaa;
}
.icon-communityfill:before {
  content: "\e915";
  color: #aaa;
}
.icon-copy:before {
  content: "\e916";
  color: #aaa;
}
.icon-delete:before {
  content: "\e917";
  color: #aaa;
}
.icon-deletefill:before {
  content: "\e918";
  color: #aaa;
}
.icon-deliver:before {
  content: "\e919";
  color: #aaa;
}
.icon-down:before {
  content: "\e91a";
  color: #aaa;
}
.icon-edit:before {
  content: "\e91b";
  color: #aaa;
}
.icon-elemo:before {
  content: "\e91c";
  color: #aaa;
}
.icon-favor:before {
  content: "\e91d";
  color: #aaa;
}
.icon-favor_fill_light:before {
  content: "\e91e";
  color: #aaa;
}
.icon-favorfill:before {
  content: "\e91f";
  color: #aaa;
}
.icon-female:before {
  content: "\e920";
  color: #aaa;
}
.icon-fold:before {
  content: "\e921";
  color: #aaa;
}
.icon-form:before {
  content: "\e922";
  color: #aaa;
}
.icon-formfill:before {
  content: "\e923";
  color: #aaa;
}
.icon-friend:before {
  content: "\e924";
  color: #aaa;
}
.icon-friendadd:before {
  content: "\e925";
  color: #aaa;
}
.icon-friendfamous:before {
  content: "\e926";
  color: #aaa;
}
.icon-global_light:before {
  content: "\e927";
  color: #aaa;
}
.icon-goods:before {
  content: "\e928";
  color: #aaa;
}
.icon-home:before {
  content: "\e929";
  color: #aaa;
}
.icon-homefill:before {
  content: "\e92a";
  color: #aaa;
}
.icon-infofill:before {
  content: "\e92b";
  color: #aaa;
}
.icon-like:before {
  content: "\e92c";
  color: #aaa;
}
.icon-likefill:before {
  content: "\e92d";
  color: #aaa;
}
.icon-list:before {
  content: "\e92e";
  color: #aaa;
}
.icon-location:before {
  content: "\e92f";
  color: #aaa;
}
.icon-locationfill:before {
  content: "\e930";
  color: #aaa;
}
.icon-male:before {
  content: "\e931";
  color: #aaa;
}
.icon-mark:before {
  content: "\e932";
  color: #aaa;
}
.icon-markfill:before {
  content: "\e933";
  color: #aaa;
}
.icon-moneybagfill:before {
  content: "\e934";
  color: #aaa;
}
.icon-more:before {
  content: "\e935";
  color: #aaa;
}
.icon-my:before {
  content: "\e936";
  color: #aaa;
}
.icon-myfill:before {
  content: "\e937";
  color: #aaa;
}
.icon-news_hot_fill_light:before {
  content: "\e938";
  color: #aaa;
}
.icon-news_hot_light:before {
  content: "\e939";
  color: #aaa;
}
.icon-notice:before {
  content: "\e93a";
  color: #aaa;
}
.icon-noticefill:before {
  content: "\e93b";
  color: #aaa;
}
.icon-notificationfill:before {
  content: "\e93c";
  color: #aaa;
}
.icon-notificationforbidfill:before {
  content: "\e93d";
  color: #aaa;
}
.icon-order:before {
  content: "\e93e";
  color: #aaa;
}
.icon-paint:before {
  content: "\e93f";
  color: #aaa;
}
.icon-paintfill:before {
  content: "\e940";
  color: #aaa;
}
.icon-pay:before {
  content: "\e941";
  color: #aaa;
}
.icon-people:before {
  content: "\e942";
  color: #aaa;
}
.icon-peoplefill:before {
  content: "\e943";
  color: #aaa;
}
.icon-pic:before {
  content: "\e944";
  color: #aaa;
}
.icon-picfill:before {
  content: "\e945";
  color: #aaa;
}
.icon-playfill:before {
  content: "\e946";
  color: #aaa;
}
.icon-present:before {
  content: "\e947";
  color: #aaa;
}
.icon-pulldown:before {
  content: "\e948";
  color: #aaa;
}
.icon-pullright:before {
  content: "\e949";
  color: #aaa;
}
.icon-pullup:before {
  content: "\e94a";
  color: #aaa;
}
.icon-qrcode:before {
  content: "\e94b";
  color: #aaa;
}
.icon-question:before {
  content: "\e94c";
  color: #aaa;
}
.icon-questionfill:before {
  content: "\e94d";
  color: #aaa;
}
.icon-radiobox:before {
  content: "\e94e";
  color: #aaa;
}
.icon-rank:before {
  content: "\e94f";
  color: #aaa;
}
.icon-rankfill:before {
  content: "\e950";
  color: #aaa;
}
.icon-read:before {
  content: "\e951";
  color: #aaa;
}
.icon-recharge:before {
  content: "\e952";
  color: #aaa;
}
.icon-rechargefill:before {
  content: "\e953";
  color: #aaa;
}
.icon-recordfill:before {
  content: "\e954";
  color: #aaa;
}
.icon-recordlight:before {
  content: "\e955";
  color: #aaa;
}
.icon-redpacket:before {
  content: "\e956";
  color: #aaa;
}
.icon-refresharrow:before {
  content: "\e957";
  color: #aaa;
}
.icon-right:before {
  content: "\e958";
  color: #aaa;
}
.icon-round:before {
  content: "\e959";
  color: #aaa;
}
.icon-roundadd:before {
  content: "\e95a";
  color: #aaa;
}
.icon-roundaddfill:before {
  content: "\e95b";
  color: #aaa;
}
.icon-roundcheck:before {
  content: "\e95c";
  color: #aaa;
}
.icon-roundcheckfill:before {
  content: "\e95d";
  color: #aaa;
}
.icon-roundclose:before {
  content: "\e95e";
  color: #aaa;
}
.icon-roundclosefill:before {
  content: "\e95f";
  color: #aaa;
}
.icon-rounddown:before {
  content: "\e960";
  color: #aaa;
}
.icon-roundleftfill:before {
  content: "\e961";
  color: #aaa;
}
.icon-roundleftfill-copy:before {
  content: "\e962";
  color: #aaa;
}
.icon-roundright:before {
  content: "\e963";
  color: #aaa;
}
.icon-roundrightfill:before {
  content: "\e964";
  color: #aaa;
}
.icon-safe:before {
  content: "\e965";
  color: #aaa;
}
.icon-scan:before {
  content: "\e966";
  color: #aaa;
}
.icon-search:before {
  content: "\e967";
  color: #aaa;
}
.icon-searchlist:before {
  content: "\e968";
  color: #aaa;
}
.icon-send:before {
  content: "\e969";
  color: #aaa;
}
.icon-settings:before {
  content: "\e96a";
  color: #aaa;
}
.icon-share:before {
  content: "\e96b";
  color: #aaa;
}
.icon-shop:before {
  content: "\e96c";
  color: #aaa;
}
.icon-shopfill:before {
  content: "\e96d";
  color: #aaa;
}
.icon-square:before {
  content: "\e96e";
  color: #aaa;
}
.icon-squarecheck:before {
  content: "\e96f";
  color: #aaa;
}
.icon-squarecheckfill:before {
  content: "\e970";
  color: #aaa;
}
.icon-stop:before {
  content: "\e971";
  color: #aaa;
}
.icon-tag:before {
  content: "\e972";
  color: #aaa;
}
.icon-tagfill:before {
  content: "\e973";
  color: #aaa;
}
.icon-text:before {
  content: "\e974";
  color: #aaa;
}
.icon-ticket:before {
  content: "\e975";
  color: #aaa;
}
.icon-ticket_money_fill:before {
  content: "\e976";
  color: #aaa;
}
.icon-time:before {
  content: "\e977";
  color: #aaa;
}
.icon-timefill:before {
  content: "\e978";
  color: #aaa;
}
.icon-top:before {
  content: "\e979";
  color: #aaa;
}
.icon-triangledownfill:before {
  content: "\e97a";
  color: #aaa;
}
.icon-triangleupfill:before {
  content: "\e97b";
  color: #aaa;
}
.icon-unfold:before {
  content: "\e97c";
  color: #aaa;
}
.icon-upload:before {
  content: "\e97d";
  color: #aaa;
}
.icon-video:before {
  content: "\e97e";
  color: #aaa;
}
.icon-videofill:before {
  content: "\e97f";
  color: #aaa;
}
.icon-voicefill:before {
  content: "\e980";
  color: #aaa;
}
.icon-warnfill:before {
  content: "\e981";
  color: #aaa;
}
.icon-weibo2:before {
  content: "\e982";
  color: #aaa;
}
.icon-weixin:before {
  content: "\e983";
  color: #aaa;
}
.icon-xiazai:before {
  content: "\e984";
  color: #aaa;
}
.icon-zhifubao:before {
  content: "\e985";
  color: #aaa;
}
